 table, th, td
    {              
    border: 1px solid black;
    border-collpase: collapse;
    color: red;
    font-size: 40-px;
    }
                h1{color: blue}

    .para{
        color: purple;
    }