.container {
  display: grid;
  grid-template-columns: 120px auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.container > div {
  background-color: #f1f1f1;
  /* border: 1px solid black */
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.Testing > div {
  background-color: #f1f1f1;
  border: 10px solid red;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.Testing2 > div {
  background-color: white;
  border: 1px solid black;
}
/* This is a comment */
